body {
  font-family: Comic Sans MS;
  font-weight: 500;
background-color:black;
}


header {
  padding: 10px 0px 0px 20px;

}

header .row
 {
  display: flex;
  align-items: center;
}

header h2{
font-family:AR DESTINE;
  font-weight: 300;
font-size 35px;
  color:white;
padding: 25px 10px 5px 5px;
}

header nav {
  display: flex;
  justify-content: flex-end;
padding: 20px 0px 0px 5px;
}

header p {
  padding: 25px 10px 10px 0px;
color:gold;  
 
}


.col-sm-7
{
color:gold;
} 


.jumbotron
{
background-image:url("C:\Users\HP\Desktop\projectfirst\photos\interview photo1.jpeg");
background-size:cover;
}

.collapse
{
font family:Helvetica,garamond,sans-serif;
color:#061937;
}

h4{

color: orange;
}


p{

color: white;
}











sam {
    width: 50px;
    height: 50px;
    background-color: orange;
    font-size:24px;
    font-color:#FF5733;
    font-weight: bold;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
}

/* Safari 4.0 - 8.0 */
#sam {-webkit-animation-timing-function: ease-in-out;}
#sam {-webkit-animation-timing-function: ease-out;}
#sam {-webkit-animation-timing-function: cubic-bezier(19,2,6,78);}


/* Standard syntax */
#sam {animation-timing-function: ease-in;}
#sam {animation-timing-function: ease-in-out;}
#sam {animation-timing-function: cubic-bezier(48,4,2,1);}


/* Safari 4.0 - 8.0...for the mod browser rich kids use:) */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 900px;}
}

/* Standard syntax ..... i mean for normal browsers moms:)*/
@keyframes mymove {
    from {left: 0px;}
    to {left: 900px;}
}